<IfModule mod_rewrite.c>
  RewriteEngine On

  # 既存ファイル・ディレクトリはそのまま表示
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # それ以外は全部 index.html に渡す
  RewriteRule ^ index.html [L]
</IfModule>
